* {
    margin: 0;
  }
  header{
      background-color: rgb(233, 178, 216)
      
  }
  main h1{
text-align: left;
  }

  header nav ul {
list-style-type: right;
  }
  header nav ul li {
      display: inline-block;
      padding: 30px;
  }
 
  header nav ul li a {
text-decoration: none;
  }
  #home {
    color: rgb(24, 5, 77);
    
}

  main h3{
    text-align: center;
  }


.paraghraph {
    clear: both;
    text-align: center;
    border: solid 2px rgb(33, 230, 33);
    padding: 20px;
    color: rgb(94, 62, 20);
}
#image {
  float: right;
}
